.header nav {
  outline: 5px solid pink;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .header nav {
    outline: 5px solid yellow;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5%;
    width: 100vw;
    z-index: 2;
  }
}
.header a {
  outline: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 5rem;
  width: 5rem;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  .header a {
    outline: 5px solid rgb(59, 107, 57);
    margin: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.header a:nth-child(1) {
  background-color: #f0e5dc;
}
.header a:nth-child(2) {
  background-color: #eacbc2;
}
.header a:nth-child(3) {
  background-color: #ddb788;
}
.header a:nth-child(4) {
  background-color: #746566;
}

.article {
  /* .......................seccion con js ....................seccion con js */
  /* ---------seccion4 */
  /* fin seccion4 */
}
.article section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.article section h2 {
  color: rgb(40, 40, 43);
}
.article section:nth-child(1) {
  background-color: #f0e5dc;
}
.article section:nth-child(2) {
  background-color: #eacbc2;
}
.article section:nth-child(3) {
  background-color: #ddb788;
}
.article section:nth-child(4) {
  background-color: #746566;
}
.article #seccion1 .encabezadoSeccion1 {
  background-color: rgba(199, 100, 91, 0.9921568627);
  width: 35vw;
  height: 20vh;
  border-radius: 3px;
  margin-right: auto;
  margin-top: -25rem;
  position: relative;
}
.article #seccion1 .encabezadoSeccion1 h2 {
  text-align: center;
  margin-top: 3rem;
}
@media screen and (max-width: 800px) {
  .article #seccion1 .encabezadoSeccion1 {
    outline: 5px solid blue;
    width: 55vw;
  }
}
.article #seccion1 .textoSeccion1 {
  outline: 2px solid pink;
  border: 1px solid #563f40;
  width: 40vw;
  height: 30vh;
  position: absolute;
  top: 30vh;
}
.article #seccion1 .textoSeccion1 p {
  text-align: center;
  margin-top: 5rem;
  border-radius: 3px;
}
@media screen and (max-width: 800px) {
  .article #seccion1 .textoSeccion1 {
    outline: 5px solid red;
    width: 75vw;
    height: 40vh;
    top: 35vh;
  }
}
.article #seccion2 .encabezadoSeccion2 {
  background-color: rgba(199, 100, 91, 0.9921568627);
  width: 35vw;
  height: 20vh;
  border-radius: 3px;
  margin-right: auto;
  margin-top: -25rem;
  position: relative;
}
.article #seccion2 .encabezadoSeccion2 h2 {
  margin-left: 2rem;
  margin-top: 2rem;
}
.article #seccion2 .textoSeccion2 {
  border: 1px solid #f0e5dc;
  width: 40vw;
  height: 40vh;
  position: absolute;
}
.article #seccion2 .textoSeccion2 ul {
  list-style: none;
  text-align: center;
}
.article #seccion2 .textoSeccion2 ul li {
  padding: 2rem;
}
.article #seccion3 .body {
  overflow: scroll;
}
.article #seccion3 .body.resize-body {
  overflow: hidden;
}
.article #seccion3 .seccion-imagenes {
  outline: 5px solid pink;
  width: 90vw;
  margin: auto;
  height: 100vh;
  /*   @media screen  and (max-width: 800px){
        margin-top: 6rem;
    } */
  /* cierro seccion 3 */
}
.article #seccion3 .seccion-imagenes h2 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .article #seccion3 .seccion-imagenes h2 {
    margin-top: 7rem;
  }
}
.article #seccion3 .seccion-imagenes .cajaGrande {
  margin: 2rem 0;
  gap: 1rem;
  /* cierro cajaImgChicas */
  /* cierro seccion imagenes */
}
.article #seccion3 .seccion-imagenes .cajaGrande.content-image-resize {
  display: flex;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas {
  outline: 5px solid rgb(93, 93, 141);
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 85vw;
  height: 80vh;
  margin-top: 5rem;
  /* cierro figure */
  /* cierro resize-box-imagenes */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure {
  outline: 2px solid red;
  text-align: center;
  position: relative;
  width: 85%;
  height: 100%;
  transition: all 1s;
  cursor: pointer;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure:hover:before {
  position: absolute;
  /* content: "";
  background-color: #74656644;
  width: 100%;
  height: 20%;  */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure img {
  width: 85%;
  /* height: 100%; */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas.resize-box-imagenes {
  outline: 3px solid blue;
  overflow-y: scroll;
  height: 70vh;
  width: 50vw;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
  .article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    overflow-y: scroll;
    height: 70vh;
    outline: 5px solid brown;
  }
  .article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas.resize-box-imagenes {
    width: 900vw;
  }
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande {
  display: none;
  width: 25vw;
  /* cierro caja grande */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen {
  display: flex;
  justify-content: center;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen figure {
  position: relative;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen figure:hover:before {
  position: absolute;
  /* content: "";  
    background-color: #d1acae79;
    width: 35vw;
    height: 100vh; */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen figure img {
  margin-left: 6rem;
  width: 28vw;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(92, 92, 92, 0.753);
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen figure p {
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 25px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block-imagen {
    display: none;
  }
}
.article #seccion4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  position: relative; */
  /* cajon mapa------- */
  /* cajon redes-------- */
  /* cajon vecinas */
}
.article #seccion4 .mapa {
  outline: 3px solid green;
}
.article #seccion4 .mapa iframe {
  border-radius: 10px;
}
.article #seccion4 .mapa h4 {
  text-align: center;
  padding: 1rem;
}
.article #seccion4 .mapa p {
  outline: 3px solid red;
  text-align: center;
  padding: 0.5rem;
}
.article #seccion4 .container-redes {
  outline: 3px solid pink;
  padding: 2rem;
  width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.article #seccion4 .vecinas {
  /*   position: absolute;
    bottom: 2%;
    left: 1%; */
}
.article #seccion4 .vecinas a {
  text-decoration: none;
  color: #1f1c1c;
}/*# sourceMappingURL=estilos.css.map */