
$colorSeccion1: #f0e5dc;
$colorSeccion2: #eacbc2;
$colorSeccion3: #ddb788;
$colorSecion4: #746566;
$colorEncabezados: #c7645bfd;
$colorBorde: #563f40;




.header{
    nav{
      
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 3;

         @media screen  and (max-width: 800px) {
          
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 5%;
            width: 99vw;
            
            z-index: 2;
                  }
    }
    a{
      
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        height: 5rem;
        width: 5rem; 
        text-decoration: none;
        color: black;
         border-radius: 50%;
        text-align: center;
        font-size: 12px;

        @media screen  and (max-width: 800px) {
            
             margin: 1rem; 
             width: 4rem;
            height: 4rem; 
            margin-left: auto;
            margin-right: auto;
            
              }

             
        
       

}
                     a:nth-child(1)  {
                             background-color: $colorSeccion1;

                            
                             
                            }


                    a:nth-child(2){
                                   background-color: $colorSeccion2;
                                    }

                    a:nth-child(3) {
                        background-color:$colorSeccion3;
                    } 
                    a:nth-child(4)  {
                        background-color: $colorSecion4;
                    }            
                                }

                                /* FIN HEADER */




      .article{
             section{
                   display: flex;
                   align-items: center;
                    justify-content: center;
                    height: 100vh;
                    h2{
                       color: rgb(40, 40, 43);
                            }
                                
                                }
                                section:nth-child(1){
                                    background-color: $colorSeccion1;
                                
                                
                                }
                                section:nth-child(2){
                                    background-color: $colorSeccion2;
                                    
                                }
                                section:nth-child(3){
                                    background-color: $colorSeccion3;
                                    
                                }
                                section:nth-child(4){
                                    background-color: $colorSecion4;
                                }


        #seccion1{
    
            .encabezadoSeccion1{
                background-color: $colorEncabezados;
                width: 35vw;
                height: 20vh;
                border-radius: 3px;
                margin-right: auto;
                margin-top: -25rem;
                position: relative;

                h2{
                    text-align: center;
                    margin-top: 3rem;
                    }

                    @media screen  and (max-width: 800px) {
                       
                        width: 55vw;
                    }

            }
            .textoSeccion1{
               
                border: 1px solid $colorBorde;
                width: 40vw;
                height: 30vh;
                position: absolute;
                top: 30vh;
                   p{
                        text-align: center;
                        margin-top: 5rem;
                        border-radius: 3px;
                      }

                @media screen  and (max-width: 800px){
                    
                    width: 75vw;
                    height: 40vh;
                    top: 35vh;
                }

            }
        }
    #seccion2{
        .encabezadoSeccion2{
            background-color: $colorEncabezados;
            width: 35vw;
            height: 20vh;
            border-radius: 3px;
            margin-right: auto;
            margin-top: -25rem;
            position: relative;

            h2{
                margin-left: 2rem;
                margin-top: 2rem;
            }

        }
        .textoSeccion2{
            border: 1px solid $colorSeccion1;
            width: 40vw;
            height: 40vh;
            position: absolute;

            ul{
                list-style: none;
                text-align: center;

                li{
                    padding: 2rem;
                }
            }
            
           

        }


}

/* .......................seccion con js ....................seccion con js */
#seccion3{
    .body {
        overflow: scroll;
    
        &.resize-body{
        overflow: hidden;
                     }
        }
    .seccion-imagenes{
       
        width: 90vw;
        margin: auto;
        height: 100vh;
      /*   @media screen  and (max-width: 800px){
            margin-top: 6rem;
        } */

               h2{
                     text-align: center;
                     @media screen  and (max-width: 800px){
                        margin-top: 7rem;
                     }
                    
                 }
               .cajaGrande{
                  margin: 2rem 0;
                  gap: 1rem; 

                  &.content-image-resize{
                     display: flex;
                          }

                           .cajaImgChicas{
                           
                            position: relative;
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            gap: 1rem;
                            width: 85vw;
                            height: 80vh;
                            margin-top: 5rem;

                                 figure{
                                   
                                   text-align: center;
                                   position: relative;
                                   width: 85%;
                                   height: 100%;
                                   transition: all 1s;
                                   cursor: pointer;
                                       &:hover:before{
                                         position: absolute;
                                       /* content: "";
                                       background-color: #74656644;
                                       width: 100%;
                                       height: 20%;  */
                                                }
                                        img{
                                         width: 85%;
                                         
                                      /* height: 100%; */

                                             }
                                       } /* cierro figure */

                                        &.resize-box-imagenes{
                                       
                                         overflow-y: scroll;
                                         height: 70vh;
                                          width: 50vw;
                                        grid-template-columns: repeat(2, 1fr);
                                                           }  /* cierro resize-box-imagenes */


                                                           @media screen  and (max-width: 800px){
                                                             display: flex;
                                                             flex-direction: column;
                                                             align-items: center;
                                                             margin-top: 4rem;
                                                             overflow-y: scroll;
                                                             height: 70vh;
                                                            

                                                             &.resize-box-imagenes{
                                                                width: 900vw;
                                                             }
                                                           }                  

                                }    /* cierro cajaImgChicas */
        
        .cajaImgGrande{
          display: none;  
          width: 25vw;
               &.block-imagen{
            display: flex;
            justify-content: center;
            
            
             figure{
            position: relative;
            &:hover:before{
                position: absolute;
              /* content: "";  
                background-color: #d1acae79;
                width: 35vw;
                height: 100vh; */
            }

            img{
                margin-left: 6rem;
                width: 28vw;
                border-radius: 10px;
                box-shadow: 5px 5px 10px rgba(92, 92, 92, 0.753);
            }
            p{
                position: absolute;
                right: 3rem;
                top: 1rem;
                font-size: 25px;
                cursor: pointer;
            }
        }
        
} /* cierro caja grande */

 @media screen  and (max-width: 800px){
    &.block-imagen{
    display: none;
    }
 }

}  /* cierro seccion imagenes */
 
 }/* cierro seccion 3 */

 }
}

/* ---------seccion4 */

#seccion4{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* para vecinas */
   position: relative;  

/* cajon mapa------- */
    .mapa{ 
       
        iframe{
            border-radius:  10px;

            @media screen  and (max-width: 800px){
                width: 60vw;
            }
        }
        h4{
            text-align: center;
            padding: 1rem;
        }
        p{
           
            text-align: center;
            padding: .5rem;
        }

       

    }
/* cajon redes-------- */
    .container-redes{
       
        padding: 2rem;
        width: 50rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* cajon vecinas */
    .vecinas{
         
          position: absolute;
        bottom: 2%;
        left: 5%;
        
        a{
            text-decoration: none;
            color: #1f1c1c;
            font-size: 13px

             }

             @media screen  and (max-width: 800px)   {
                a{
                    font-size: 11px;
                }
             }


    }

   
   

}/* fin seccion4 */




}                         

                            
                            
                            
            