.header nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 5rem;
  width: 5rem;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}
.header a:nth-child(1) {
  background-color: #f0e5dc;
}
.header a:nth-child(2) {
  background-color: #eacbc2;
}
.header a:nth-child(3) {
  background-color: #ddb788;
}
.header a:nth-child(4) {
  background-color: #746566;
}

.article section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.article section h2 {
  color: rgb(40, 40, 43);
}
.article section:nth-child(1) {
  background-color: #f0e5dc;
}
.article section:nth-child(2) {
  background-color: #eacbc2;
}
.article section:nth-child(3) {
  background-color: #ddb788;
}
.article section:nth-child(4) {
  background-color: #746566;
}
.article #seccion1 .encabezadoSeccion1 {
  background-color: rgba(199, 100, 91, 0.9921568627);
  width: 35vw;
  height: 20vh;
  border-radius: 3px;
  margin-right: auto;
  margin-top: -25rem;
  position: relative;
}
.article #seccion1 .encabezadoSeccion1 h2 {
  text-align: center;
  margin-top: 3rem;
}
.article #seccion1 .textoSeccion1 {
  border: 1px solid #563f40;
  width: 40vw;
  height: 30vh;
  position: absolute;
  top: 30vh;
}
.article #seccion1 .textoSeccion1 p {
  text-align: center;
  margin-top: 5rem;
  border-radius: 3px;
}
.article #seccion2 .encabezadoSeccion2 {
  background-color: rgba(199, 100, 91, 0.9921568627);
  width: 35vw;
  height: 20vh;
  border-radius: 3px;
  margin-right: auto;
  margin-top: -25rem;
  position: relative;
}
.article #seccion2 .encabezadoSeccion2 h2 {
  margin-left: 2rem;
  margin-top: 2rem;
}
.article #seccion2 .textoSeccion2 {
  border: 1px solid #f0e5dc;
  width: 40vw;
  height: 40vh;
  position: absolute;
}
.article #seccion2 .textoSeccion2 ul {
  list-style: none;
  text-align: center;
}
.article #seccion2 .textoSeccion2 ul li {
  padding: 2rem;
}
.article #seccion3 .body {
  overflow: scroll;
}
.article #seccion3 .body.resize-body {
  overflow: hidden;
}
.article #seccion3 .seccion-imagenes {
  width: 90vw;
  margin: auto;
  height: 100vh;
}
.article #seccion3 .seccion-imagenes h2 {
  text-align: center;
}
.article #seccion3 .seccion-imagenes .cajaGrande {
  margin: 2rem 0;
  gap: 1rem;
}
.article #seccion3 .seccion-imagenes .cajaGrande.content-image-resize {
  display: flex;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 1s;
  cursor: pointer;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure:hover:before {
  position: absolute;
  content: "";
  background-color: rgba(116, 101, 102, 0.2666666667);
  width: 100%;
  height: 20%;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas figure img {
  width: 100%;
  /* height: 100%; */
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgChicas.resize-box-imagenes {
  overflow-y: scroll;
  height: 70vh;
  width: 50vw;
  grid-template-columns: repeat(3, 1fr);
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande {
  display: none;
  outline: 5px solid red;
  width: 30vw;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande figure {
  position: relative;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande figure:hover:before {
  position: absolute;
  content: "";
  background-color: rgba(209, 172, 174, 0.4745098039);
  width: 35vw;
  height: 40vh;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande figure img {
  width: 30vw;
  border-radius: 10px;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande figure p {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 25px;
  cursor: pointer;
}
.article #seccion3 .seccion-imagenes .cajaGrande .cajaImgGrande.block.imagen {
  display: inline-block;
}

/* article  *//*# sourceMappingURL=estilos.css.map */